/* iPhone */
@media screen and (max-width: 767px) {
  main {
    height: 1000px;
    background-color: yellow;
  }
}

/* PC */
@media screen and (min-width: 768px) {
  main{
    height: 2000px;
    background-color: aqua;
  }
}

#main-contents{
  background-color: white;
  height: auto;
  width: 50%;
}

*{
  padding: 0px;
  margin: 0px;
}

h1{
  font-size: 50px;
}

h2{
  font-size: 40px;
}

h3{
  font-size: 20px;
}

h4 {
  font-size: 12px;
}

p{
  word-wrap: break-word;
}

.draw-under-line{
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
}

body{
  background-color: #d0d0d0;
}

#container{
  width: 100%;
  height: 100%;
  margin: 0px auto;
}

header{
  height: 100px;
  background-color: #b0b0b0;
}

header #title-area{
  width: 250px;
  height: 80px;
  float: left;
  padding: 10px 40px;
}

header #title-area a{
  text-align: center;
  text-decoration: none;
  color: black;
}

header #header-profile-area{
  width: 400px;
  height: 80px;
  float: right;
  padding: 10px 40px;
}

header #user-icon-area{
  width: 80px;
  height: 80px;
  float: left;
}

header #user-icon-area img{
  width: 80px;
  height: auto;
}

header .external-link-area-front{
  width: 310px;
  height: 35px;
  float: right;
  padding: 0px 0px 5px 0px;
}

header .external-link-area-back {
  width: 310px;
  height: 35px;
  float: right;
  padding: 5px 0px 0px 0px;
}

header .small-icon{
  width: 35px;
  height: 35px;
  float: left;
}

.small-icon img{
  width: 35px;
  height: 35px;
}

header .status-info{
  width: 255px;
  height: 25px;
  float: left;
  padding: 5px 10px;
}

.status-info p{
  font-size: 15px;
}

/*
main{
  height: 930px;
}
*/

footer{
  height: 50px;
  background-color: #909090;
}

footer #contants-area{
  padding: 10px;
  margin: auto;
}

footer #contants-area a{
  text-decoration: underline;
  color: black;
}

footer .contants-align-center{
  display: flex;
  align-items: center;
  flex-direction: column;
}

footer .draw-right-line{
  height: 30px;
  float: left;
  border-right: 2px;
  border-right-style: dashed;
  border-right-color: black;
  list-style-type: none;
}

footer .list-item {
  width: auto;
  float: left;
  padding: 0px 30px;
  list-style-type: none;
  text-align: center;
}