/*
  margin: 外枠。要素間の隙間を空けるのに使用
  border: 枠線。枠線のStyle指定&要素のサイズに追加される点に注意
  padding: 余白。子要素の位置だけずらしたい際に使用?
           こっちも要素のサイズに追加されるので注意
*/

/* スマホ */
@media screen and (max-width: 767px) {
}

/* PC */
@media screen and (min-width: 768px) {
}

/* 変数 */
:root{
  --container-width: 672px;
  --header-height: 100px;
}

/* 既存スタイル */
*{
  padding: 0px;
  margin: 0px;
  border: 0px;
  width: 100%;
  height: 100%;
}

h1{ font-size: 34px; }
h2{ font-size: 26px; }
h3{ font-size: 19px; }
h4{ font-size: 14px; }

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: black;
}

/* オリジナルスタイル */
.Container{
  position: relative;
  width: var(--container-width);
  margin: 0px auto;
}

.vert--center{
  display: flex;
  align-items: center;
}

.text--center{
  text-align: center;
  white-space: pre-line;
  line-height: 2em;
}

.item--center{
  display: grid;
  place-items: center;
}

.under--line{
  border-bottom: 3px;
  border-style: solid;
  border-color: black;
}

.large--under--line{
  border-bottom: 4px;
  border-style: solid;
  border-color: black;
}

.right--line{
  border-right: 2px;
  border-style: solid;
  border-color: black;
}

.all--line{
  border: 3px solid black;
}

.auto--new--line{
  line-height: 2em;
  white-space: pre-wrap;
}

.forever--disable--link a{
  text-decoration: none;
  color: black;
}

.disable--link a:hover{
  text-decoration: underline;
  color: gray;
}

.width--fit--resize{
  width: -moz-fit-content;
  width: fit-content;
}

.display--block{
  display: block;
}

.red{background-color: red;}
.blue{background-color: blue;}
.green{background-color: green;}
.cyan{background-color: cyan;}
.magenta{background-color: magenta;}
.yellow{background-color: yellow;}
.black{background-color: black;}
.white{background-color: white;}

/* ヘッダー */
Header{
  height: var(--header-height);
  background-color: #FFFFFF;
}

#HeaderShortcutBlock{
  position: absolute;
  right: 5px;
  bottom: 5px;
  float: right;
  width: auto;
  height: auto;
}

#HeaderShortcutBlock ul{
  display: flex;
}

#header__title{
  position: absolute;
  left: 5px;
  float: left;
  width: auto;
}

.header__shortcut__item li{
  padding: 0px 10px 0px 10px;
}

/* メイン */
Main{
  height: auto;
}

.MainSectionBlock{
  height: auto;
  margin: 0px auto;
  padding: 25px 0px;
}

.ContentBlock{
  height: auto;
  width: calc(100% - 100px);
  padding: 25px 0px 50px 0px;
  margin: 25px auto;
}

.ContentDetailListBlock{
  width: 480px;
  height: 225px;
  padding: 10px 0px;
  margin: 0px auto;
}

.ContentDetailBlockS{
  width: 200px;
  height: 60px;
  float: left;
  margin: 10px 0px 0px 25px;
}

.ContentDetailBlockL {
  width: 100%;
  height: 60px;
  float: left;
  margin: 10px 0px 0px 25px;
}

.AllContentsPageLinkButtonBlock{
  width: calc(100% - 100px);
  height: 50px;
  margin: 0px auto 25px auto;
}

.first__content__color{
  background-color: #FFFFFF;
}

.second__content__color{
  background-color: #DDDDDD;
}

.third__content__color{
  background-color: #BBBBBB;
}

.forth__content__color{
  background-color: #999999;
}

.main__section__title{
  width: 300px;
  margin: 0px auto 10px auto;
  text-align: center;
}

.main__section__content{
  padding: 25px 0px;
}

.content__game__name{
  width: 150px;
  margin: 0px auto 15px auto;
  text-align: center;
}

.content__detail__image{
  float: left;
  width: 50px;
  height: 50px;
  margin: 5px 0px 0px 5px;
  border-right: 2px;
  border-style: solid;
  border-color: gray;
}

.content__detail__text{
  float: left;
  width: auto;
  height: 100%;
  padding: 0px 0px 0px 10px;
}

.content__screenshot{
  width: 480px;
  height: 270px;
  margin: 0px auto;
}

/* フッター */
Footer{
  height: 30px;
  background-color: #000000;
}