/*
  margin: 外枠。要素間の隙間を空けるのに使用
  border: 枠線。枠線のStyle指定&要素のサイズに追加される点に注意
  padding: 余白。子要素の位置だけずらしたい際に使用?
           こっちも要素のサイズに追加されるので注意
*/

/* スマホ */
@media screen and (max-width: 767px) {
}

/* PC */
@media screen and (min-width: 768px) {
}

/* 既存スタイル */
*{
  padding: 0px;
  margin: 0px;
  border: 0px;
  width: 100%;
  height: 100%;
}

h1{ font-size: 68px; }
h2{ font-size: 52px; }
h3{ font-size: 38px; }
h4{ font-size: 28px; }

ul{
  list-style-type: none;
}

/* オリジナルスタイル */
.Container{
  position: relative;
  width: 1344px;
  margin: 0px auto;
}

.vert--center{
  display: flex;
  align-items: center;
}

.under--line{
  border-bottom: 1px;
  border-style: solid;
  border-color: black;
}

.large--under--line{
  border-bottom: 6px;
  border-style: solid;
  border-color: black;
}

.right--line{
  border-right: 3px;
  border-style: solid;
  border-color: black;
}

.forever--disable--link a{
  text-decoration: none;
  color: black;
}

.disable--link a{
  text-decoration: none;
  color: black;
}

.disable--link a:hover{
  text-decoration: underline;
  color: gray;
}

.width--fit--resize{
  width: -moz-fit-content;
  width: fit-content;
}

.display--block{
  display: block;
}

.red{background-color: red;}
.blue{background-color: blue;}
.green{background-color: green;}
.cyan{background-color: cyan;}
.magenta{background-color: magenta;}
.yellow{background-color: yellow;}
.black{background-color: black;}
.white{background-color: white;}

/* ヘッダー */
Header{
  height: 200px;
  background-color: #CCCCCC;
}

#HeaderShortcutBlock{
  position: absolute;
  right: 5px;
  bottom: 5px;
  float: right;
  width: auto;
  height: auto;
}

#HeaderShortcutBlock ul{
  display: flex;
}

#header__title{
  position: absolute;
  left: 5px;
  float: left;
  width: auto;
}

.header__shortcut__item li{
  padding: 0px 10px 0px 10px;
}

/* メイン */
Main{
  height: auto;
}

.MainSectionBlock{
  height: auto;
  padding-top: 80px;
}

.ContantBlock{
  height: 500px;
  margin-left: 50px;
  border: 4px solid black;
}

.section__aboutme{
  background-color: #FFFFFF;
}

.section__contents{
  background-color: #DDDDDD;
}

.section__skill{
  background-color: #BBBBBB;
}

.section__contact{
  background-color: #999999;
}

.main__section__title{
  width: 600px;
  margin: 0px auto 20px auto;
  text-align: center;
}

.main__section__content h3{
  line-height: 2em;
  white-space: pre-wrap;
}

/* フッター */
Footer{
  height: 50px;
  background-color: #000000;
}